// index page
//-----------------------------------------------------------------------------------
.title-img
    max-width: 554px
    width: 100%
    height: auto
    margin-bottom: 5px
    margin-top: 115px
    @media (max-width: $screen-xs-max)
        max-width: 400px
        margin-top: 80px
        display: none


section 
    position: relative
    .bg-item
        position: absolute
        top: 0 
        left: 0

.section-1
    padding-top: 100px
    padding-bottom: 90px
    @media (max-width: $screen-xs-max)
        text-align: center
        padding-bottom: 30px
    .img-wrap 
        min-width: 700px
        transform: translate(-65px, 0) 
        @media (max-width: $screen-sm-max)
            min-width: 600px
            transform: translate(-100px, 0) 
        @media (max-width: $screen-xs-max)
            min-width: 100% 
            width: 100%
            transform: translate(0, 0) 
            text-align: center
        img 
            @media (max-width: $screen-xs-max)
                max-width: 440px
                width: 100%

    .bg-item
        width: 100% 
        height: 875px
        position: absolute
        top: 0 
        left: 0 
        background: url(../img/bg-1.png) no-repeat center top / cover
        @media (max-width: $screen-xs-max)
            top: -300px
        @media (min-width: 1441px)
            height: 1165px
            top: -140px
        

    .mobile
        display: none
        @media (max-width: $screen-xs-max)
            display: inline-block

    .hidde-mob
        @media (max-width: $screen-xs-max)
            display: none

.section-2
    padding-top: 80px 
    padding-bottom: 80px 
    @media (max-width: $screen-sm-max)
        padding-bottom: 40px 
    
    .img-wrap
        position: relative
        min-width: 670px
        transform: translate(-115px, 0) 
        
        @media (max-width: $screen-sm-max)
            min-width: 600px
            transform: translate(0px, 0) 
            text-align: center

        @media (max-width: $screen-xs-max)
            min-width: 100% 
            width: 100%
        .plax-2
            max-width: 50% 
            margin-top: 70px
            @media (max-width: $screen-sm-max)
                margin-right: 280px
        
        .plax-1
            position: absolute
            top: 160px
            right: 0 
            @media (max-width: $screen-xs-max)
                display: none

        .plax-3 
            position: absolute
            top: 0 
            right: 0 
        
    .tithe-h2
        @media (max-width: $screen-sm-max)
            text-align: center
.section-3
    padding-top: 80px
    padding-bottom: 100px
    .bg-item
        width: 100%
        height: 775px
        position: absolute
        top: 0
        left: 0 
        background: url(../img/bg-3.png) no-repeat center top / cover
        @media (min-width: 1441px)
            height: 1035px
            top: -140px
    .tithe-h2
        @media (max-width: $screen-sm-max)
            text-align: center

.section-4
    padding-top: 100px
    padding-bottom: 0px
    @media (max-width: $screen-sm-max)
        padding-top: 0
    .bg-item
        width: 662px
        height: 436px
        position: absolute
        top: 130px 
        left: 0 
        background: url(../img/bg-4.png) no-repeat center top / cover
        @media (max-width: $screen-sm-max)
            top: 30px 
    .img-wrap
        max-width: 500px
        transform: translate(0, -80px) 
    .tithe-h2
        @media (max-width: $screen-sm-max)
            margin-top: 0  
            text-align: center
    .tithe-h3 
        @media (max-width: $screen-sm-max)
            text-align: center

    .center-btn
        @media (max-width: $screen-sm-max)
            text-align: center

.section-5
    padding-top: 80px
    padding-bottom: 115px
    @media (max-width: $screen-sm-max)
        padding-bottom: 55px
    .bg-item
        width: 100%
        height: 772px
        position: absolute
        top: 0
        left: 0 
        background: url(../img/bg-5.png) no-repeat center top / cover
        @media (min-width: 1441px)
            height: 1165px
            top: -140px

    .tithe-h2
        @media (max-width: $screen-sm-max)
            text-align: center

.section-6
    .tithe-h2
        margin-bottom: 30px 


.frame 
    height: 338px
    overflow: visible !important

    &.team
        @media (max-width: $screen-xs-max)
            height: 620px

.frame .team-item
    box-shadow: 0 8px 4px 0 rgba(125, 121, 121, 0.16), 0 2px 4px 0 rgba(125, 121, 121, 0.24)
    background-color: #ffffff
    float: left
    width: 900px
    height: 100%
    min-height: 338px
    margin: 0 40px 0 0
    padding: 0
    display: inline-block
    cursor: pointer
    position: relative
    padding-left: 320px 
    @extend %clear-fix
    @media (max-width: $screen-sm-max)
        max-width: 680px
        padding-left: 310px 
        margin: 0 20px 0 0
    @media (max-width: $screen-xs-max)
        max-width: 280px
        padding-left: 0
        padding-top: 200px
        
    .text
        width: 100%
        float: left
        padding-right: 50px 
        padding-top: 50px 
        padding-bottom: 50px
        @media (max-width: $screen-sm-max)
            padding-right: 30px 
            padding-top: 30px 
            padding-bottom: 30px
        @media (max-width: $screen-xs-max)
            padding: 30px

    .name
        display: inline-block
        opacity: 0.7
        font-size: 26px
        font-weight: 900
        line-height: 40px
        color: $black
        @media (max-width: $screen-xs-max)
            font-size: 22px

    .paragraf
        max-height: 180px
        overflow: hidden
        margin-bottom: 0
        font-size: 15px
        @media (max-width: $screen-sm-max)
            max-height: 230px
        @media (max-width: $screen-xs-max)
            font-size: 14px
            line-height: 1.4
            height: 305px
            max-height: 370px
        
    .image
        width: 280px
        position: absolute
        left: 0 
        top: 0  
        height: 100%
        overflow: hidden
        @media (max-width: $screen-xs-max)
            width: 100%
            height: 200px
        img 
            object-fit: cover
            height: 100%
            width: 100%
            -webkit-box-flex: 0
            -ms-flex-positive: 0
            flex-grow: 0


.frame.crazy
	height: 295px
	overflow: visible !important

.frame .review-item
    box-shadow: 0 8px 4px 0 rgba(125, 121, 121, 0.16), 0 2px 4px 0 rgba(125, 121, 121, 0.24)
    background-color: #ffffff
    float: left
    width: 400px
    height: 295px
    margin: 0 40px 0 0
    padding: 0
    display: inline-block
    cursor: pointer
    position: relative
    @extend %clear-fix
    @media (max-width: $screen-sm-max)
        margin: 0 20px 0 0
    @media (max-width: $screen-xs-max)
        width: 280px
    &.mod-all
        box-shadow: 0 8px 4px 0 rgba(125, 121, 121, 0.16), 0 2px 4px 0 rgba(125, 121, 121, 0.24)
        background-color: $green
        text-align: center
        padding-top: 65px
        max-width: 240px
        .stars
            li 
                color: white
        .num-all
            font-size: 64px
            font-weight: 900
            letter-spacing: 4px
            color: #ffffff
            margin-bottom: 5px 

        .num
            margin-top: 20px
            display: block
            text-align: center 
            opacity: 0.8
            font-size: 14px
            line-height: 20px
            margin-left: 0
            color: #ffffff

    .paragraf
        padding: 15px 50px 
        border-top: 1px solid #f3f3f3
        margin-bottom: 0
        @media (max-width: $screen-xs-max)
            padding: 15px 30px

    .date 
        opacity: 0.6
        font-size: 12px
        letter-spacing: 0.7px
        color: $black 
        width: 100% 
        text-align: right
        padding: 16px 20px

    .name 
        opacity: 0.7
        font-size: 26px
        font-weight: 900
        line-height: 40px
        color: $black
        max-height: 151px
        overflow: hidden
        padding: 0 50px
        @media (max-width: $screen-xs-max)
            padding: 0 30px
            font-size: 20px

    .review-num
        padding: 0 50px
        @media (max-width: $screen-xs-max)
            padding: 0 30px
    .num
        display: inline-block
        font-size: 18px
        font-weight: 900
        letter-spacing: 1.1px
        color: $black
        margin-left: 16px 
        opacity: 0.7
        @media (max-width: $screen-xs-max)
            font-size: 16px

    .stars
        @extend %clear-fix
        margin-top: 8px
        display: inline-block
        li 
            color: #f0ab0a
            font-size: 16px
            float: left
            display: inline-block
            opacity: 0.5
            &:not(:last-child) 
                margin-right: 7px
            &.active 
                opacity: 1

.clearfix
    @extend %clear-fix

.frame.gallery
    overflow: visible !important
    height: 635px
    margin-top: 35px
    @media (max-width: $screen-sm-max)
        height: 465px

.frame .gallery-item
    float: left
    width: 350px
    margin: 0 40px 0 0
    padding: 0
    display: inline-block
    cursor: pointer
    position: relative
    @extend %clear-fix
    @media (max-width: $screen-sm-max)
        margin: 0 20px 0 0
        width: 280px

    .image
        width: 100%
        height: 570px
        box-shadow: 0 8px 4px 0 rgba(125, 121, 121, 0.16), 0 2px 4px 0 rgba(125, 121, 121, 0.24)
        background-color: white
        overflow: hidden
        margin-bottom: 25px
        @media (max-width: $screen-sm-max)
            height: 400px
        img 
            object-fit: cover
            height: 100%
            width: 100%
            -webkit-box-flex: 0
            -ms-flex-positive: 0
            flex-grow: 0
    .user-wrap
        display: flex 
        flex-direction: row 
        justify-content: flex-start 
        align-content: center

    .image-pic
        width: 40px
        height: 40px
        background-color: white
        overflow: hidden
        border-radius: 100% 
        margin-right: 15px
        img 
            object-fit: cover
            height: 100%
            width: 100%
            -webkit-box-flex: 0
            -ms-flex-positive: 0
            flex-grow: 0
    .name 
        font-size: 14px
        font-weight: bold
        line-height: 18px
        color: $black
        align-self: center