// elements
//-----------------------------------------------------------------------------------
.hidden
    visibility: hidden
    opacity: 0
    position: absolute
    left: -10000
    top: -10000

.remodal h2
    font-size: 40px
    margin-top: 30px
    margin-bottom: 30px
    @media (max-width: $screen-sm-max)
        font-size: 36px
    @media (max-width: $screen-xs-max)
        font-size: 26px

h2, .tithe-h2
    opacity: 0.9
    font-family: $bitter
    font-size: 56px
    font-weight: bold
    color: $black
    margin-bottom: 50px
    margin-top: 50px 
    @media (max-width: $screen-sm-max)
        font-size: 36px
    @media (max-width: $screen-xs-max)
        font-size: 36px
        

h3, .tithe-h3
    opacity: 0.7
    font-size: 26px
    font-weight: 900
    line-height: 1.5
    color: $black
    margin-bottom: 20px
    margin-top: 20px 
    @media (max-width: $screen-sm-max)
        font-size: 22px

h6, .tithe-h6
    font-size: 20px
    color: $black
    line-height: 1.7
    margin-top: 1em
    margin-bottom: 1em 
    @media (max-width: $screen-sm-max)
        font-size: 22px

p, .paragraf 
    font-size: 18px
    line-height: 1.7
    color: $black
    margin-top: 1em
    margin-bottom: 1em 
    @media (max-width: $screen-sm-max)
        font-size: 16px

.el-btn
    display: inline-block
    font-size: 16px
    font-weight: 900
    height: 50px
    line-height: 48px
    letter-spacing: 1px
    text-align: center
    color: #ffffff
    border-radius: 25px
    box-shadow: 0 4px 12px 0 rgba(247, 107, 28, 0.16), 0 2px 4px 0 rgba(247, 107, 29, 0.24)
    background-color: $orange
    text-decoration: none
    transition: all 0.2s
    padding: 0 55px
    min-width: 200px
    margin-top: 40px
    margin-bottom: 35px
    &:hover
        cursor: pointer
        text-decoration: none
        background-color: darken($orange,10%)
        box-shadow: 0 2px 6px 0 rgba(247, 107, 28, 0.16), 0 1px 2px 0 rgba(247, 107, 29, 0.24)

.social-links
    @extend %clear-fix
    margin-top: 15px
    li 
        float: left
        display: inline-block
        &:not(:last-child) 
            margin-right: 26px
        a 
            display: inline-block
            width: 40px
            height: 40px
            border-radius: 100% 
            overflow: hidden 
            line-height: 34px
            text-align: center 
            color: white
            &:hover 
                text-decoration: none 
            &.fb 
                background-color: #6e87f5
                font-size: 24px
            &.inst 
                background-image: linear-gradient(3deg, #fed576, #f47133 26%, #bc3081 61%, #4c63d2)
                font-size: 26px



.remodal.box-buy
    max-width: 500px
    form.box-buy 
        margin-top: 20px

.margn-bot
    margin-bottom: 40px


.el-text-fel
    display: block
    text-align: left
    margin-top: 25px 
    position: relative 
    b.error 
        position: absolute 
        right: 20px
        bottom: -18px 
        font-size: 10px 
        color: red 

    span 
        display: block
        opacity: 0.8
        font-size: 13px
        font-weight: bold
        color: $black
        margin-left: 20px
        margin-bottom: 5px

    input 
        width: 100%
        height: 50px
        border-radius: 25px
        box-shadow: 0 2px 6px 0 rgba(125, 121, 121, 0.24)
        background-color: #ffffff
        border: none
        opacity: 0.5
        font-size: 15px
        line-height: 24px
        color: $black
        padding: 13px 20px

    textarea
        resize: none 
        width: 100%
        height: 140px
        border-radius: 25px
        box-shadow: 0 2px 6px 0 rgba(125, 121, 121, 0.24)
        background-color: #ffffff
        border: none
        opacity: 0.5
        font-size: 15px
        line-height: 24px
        color: $black
        padding: 13px 20px

.group-input
    @extend %clear-fix
    width: 100% 
    .el-text-fel
        width: 48% 
        float: left
        @media (max-width: $screen-xs-max)
            width: 100%
        &:first-child 
            margin-right: 4%
            @media (max-width: $screen-xs-max)
                margin-right: 0%