// footer
//-----------------------------------------------------------------------------------
.footer 
    position: relative
    padding-bottom: 95px
    padding-top: 110px
    @media (max-width: $screen-sm-max)
        padding-bottom: 55px 
    @media (max-width: $screen-xs-max)
        padding-top: 40px

    .bg-item
        width: 100%
        height: 300px
        position: absolute
        bottom: 0
        left: 0 
        background: url(../img/bg-6.png) no-repeat center bottom / cover
        @media (max-width: $screen-sm-max)
            height: 260px 

        @media (min-width: 1440px)
            background: url(../img/bg-6.png) no-repeat center top / cover

    .copyright
        opacity: 0.7
        font-size: 14px
        color: $black
        margin-top: 100px
        margin-bottom: 0
        @media (max-width: $screen-xs-max)
            text-align: center
            width: 100%
            margin-top: 20px

    .social-links li a 
            &.fb 
                background: #9CB2DC
                
            &.inst 
                background: #9CB2DC
                
    .contact-list
        opacity: 0.6
        font-size: 15px
        font-weight: bold
        color: $black
        li 
            &:not(:last-child) 
                margin-bottom: 15px
        .icon 
            font-size: 20px 
            margin-right: 12px 
            width: 20px