// header
//-----------------------------------------------------------------------------------
.header
    position: fixed
    top: 0 
    left: 0
    width: 100%
    padding: 15px 0
    transition: all 0.2s
    z-index: 10
    padding: 8px 0
    box-shadow: 0 2px 4px 0 rgba(125, 121, 121, 0.24)
    background-color: #ffffff
    &.headroom--top
        padding: 15px 0
        background-color: transparent
        box-shadow: none
        .logo
            display: inline-block
            width: 92px
            height: 80px

        nav 
            padding: 30px 0

        .el-btn
            display: none
            
        .lang
            @media (max-width: $screen-xs-max)
                margin-bottom: 13px

    &.stick 
        padding: 8px 0
        box-shadow: 0 2px 4px 0 rgba(125, 121, 121, 0.24)
        background-color: #ffffff
        .logo 
            width: 76px
            height: 66px
        nav 
            padding: 22px 0
            ul li
                margin-right: 48px

        .el-btn
            display: inline-block


    .logo
        display: inline-block
        width: 76px
        height: 66px
        transition: all 0.2s

    .el-btn
        display: inline-block
        margin-left: 48px
        min-width: 140px
        padding: 0 36px
        margin-top: 0
        margin-bottom: 0
        transform: translateY(-3px)
        transition: all 0.2s
        @media (max-width: $screen-md-max)
            display: none
        @media (max-width: $screen-sm-max)
            display: inline-block
            

    nav 
        transition: all 0.2s
        padding: 22px 0
        display: inline-block
        ul 
            display: inline-block
            @extend %clear-fix
            @media (max-width: $screen-sm-max)
                display: none
            li 
                float: left
                display: inline-block
                margin-right: 35px
                @media (max-width: $screen-md-max)
                    margin-right: 35px
                @media (max-width: $screen-sm-max)
                    margin-right: 30px
                &.is-active a
                    color: $orange 
                    font-weight: bold
            a 
                font-size: 16px
                letter-spacing: 0.5px
                color: $black
                display: inline-block
                font-size: 16px
                letter-spacing: 0.5px
                transition: all 0.2s
                &:hover
                    text-decoration: none
                    color: $orange 
                    // font-weight: bold
    .lang
        display: inline-block
        @extend %clear-fix
        @media (max-width: $screen-xs-max)
            margin-bottom: 3px
        li 
            float: left
            display: inline-block
            &.is-active a
                color: $orange 
                font-weight: bold

            &:not(:last-child) 
                &:after
                    content: '/'
                    display: inline-block
                    margin: 0 4px
            a 
                display: inline-block
                font-size: 16px
                letter-spacing: 0.5px
                color: rgba(17, 17, 17, 0.7)
                &:hover
                    text-decoration: none