// plugin
//-----------------------------------------------------------------------------------
.controls
    transform: translateY(-35px)
    &.right
        text-align: right
        display: inline-block
        float: right
    .btn
        font-size: 24px
        color: $orange
        &.disabled
            visibility: hidden
            opacity: 0
        &.next
            margin-left: 10px
        &.prev
            transform: rotate(180deg) translateY(-6px)