.icon
	display: inline-block
	vertical-align: middle
	width: 1em
	height: 1em
	fill: currentColor

.icon-analytics
	width:(29/34)*1em

.icon-arrow-r
	width:(39/27)*1em

.icon-close
	width:(28/28)*1em

.icon-fb
	width:(14/25)*1em

.icon-insta
	width:(26/26)*1em

.icon-mail
	width:(22/17)*1em

.icon-star
	width:(16/16)*1em

.icon-start
	width:(20/19)*1em

.icon-tel
	width:(20/20)*1em

