$base64-png: 'image/png;base64'
$base64-jpg: 'image/jpeg;base64'
$base64-svg: 'image/svg+xml;base64'

// font var
//-----------------------------------------------------------------------------------
$default-font: 'Lato', Arial, 'Helvetica Neue', Helvetica, sans-serif
$bitter: 'Bitter', 'Lato', Arial, 'Helvetica Neue', serif

// selection color
//-----------------------------------------------------------------------------------
$color-selection: dodgerblue

// color var
//-----------------------------------------------------------------------------------
$color-link: dodgerblue
$black: #111111
$orange: #f76b1d
$blue: #9CB2DC
$green: #095B56

