<include src="../chunks/head.html"></include>

<body>
  <div id="page-wrapper" class="page-wrapper">
    <include src="../chunks/header.html"></include>

    <div id="page-body" class="page-body js-index">
      <section class="section-1" id="section-1">
        <div class="bg-item">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h1 class="hidden">Pictoric box</h1>
              <img class="title-img" src="img/pictoric.png" alt="Pictoric box">

              <div class="img-wrap mobile">
                <img src="img/img-1.png" alt="img">
              </div>

              <h6 class="tithe-h6">
                Увімкни уяву
              </h6>
              <div><a class="el-btn" href="#box-buy">Замовити гру</a></div>
              <ul class="social-links">
                <li>
                  <a class="inst" href="#">
                    <svg class="icon icon-insta">
                      <use xlink:href="img/sprite.svg#insta"></use>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="fb" href="#">
                    <svg class="icon icon-fb">
                      <use xlink:href="img/sprite.svg#fb"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 hidde-mob">
              <div class="img-wrap">
                <img src="img/img-1.png" alt="img">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-2" id="section-2">
        <div class="bg-item">
          <img src="img/bg-2.png" alt="">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 stub">

              <div class="img-wrap">
                  <img class="plax-1" src="img/img-2-3.png" alt="img">
                <img class="plax-2" src="img/img-2-1.png" alt="img">
                <img class="plax-3" src="img/img-2-2.png" alt="img">
              </div>
            </div>
            <div class="col-md-6 margn-bot">
              <h2 class="tithe-h2">Історія Гри</h2>
              <h3 class="tithe-h3">Мистецтво ще ніколи не було таким близьким, легким, веселим і навіть азартним.
              </h3>
              <p class="paragraf">Безмежна свобода спілкування. Таке доступно лише в дитинстві. Діти по-особливому відкриті. Вони не відчувають соціальних бар’єрів. «PictoricBox» – машина часу, яка повертає до днів легкого спілкування та незатьмареного життєвим досвідом сприйняття світу. Це масажер, що стимулює бурхливий потік уяви. Граючи, ти розкриваєш себе перед світом, даєш можливість оточенню зрозуміти себе по іншому, краще, глибше.
                </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section-3" id="section-3">
        <div class="bg-item">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="tithe-h2">Команда ілюстраторів</h2>
            </div>

            <div class="col-md-12 clearfix">
              <div class="frame team" id="centered">
                <div class="clearfix">
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Anna-Andreeva.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Анна Андреєва</div>
                      <p class="paragraf">
                          Ілюстраторка, графічна дизайнерка, постійна учасниця проектів клубу ілюстраторів Pictoric. Закінчила Київський державний інститут декоративно-прикладного мистецтва і дизайну ім. М. Бойчука за спеціальністю «графічний дизайн». Останнім часом працює у сфері комп’ютерних ігор. В 2018 році презентувала персональну виставку ілюстрації в галереї Orthodox. Живе та працює в Києві.
                      </p>
                    </div>
                  </div>
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Tanya-Denysenko.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Тетяна Денисенко</div>
                      <p class="paragraf">
                          Художниця, ілюстраторка. Отримала освіту в Національній академії образотворчого мистецтва і архітектури в Києві за спеціальністю «книжкова графіка». Брала участь у багатьох виставках та курсах з графіки, серед яких післядипломний курс Interdisciplinary Printmaking, The Eugeniusz Geppert Academy of Art and Design in Wroclaw, Poland; літний курс друкованої графіки в International Summer Academy in Salzburg; майстер-клас під час бієнале ілюстрації у Братиславі (BIB).

                      </p>
                    </div>
                  </div>
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Oleh-Gryshchenko.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Олег Грищенко </div>
                      <p class="paragraf">
                          Художник та ілюстратор. Співзасновник клубу ілюстраторів Pictoric, куратор українських та міжнародних виставок з книжкової графіки. Старший викладач кафедри графіки в Національній академії образотворчого мистецтва та архітектури в Києві, де і отримав художню освіту. Працює в галузі ілюстрації, книги художника та книжкового дизайну.
                      </p>
                    </div>
                  </div>
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Polina-Doroshenko.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Поліна Дорошенко</div>
                      <p class="paragraf">
                          Ілюстраторка. Закінчила Національну академію образотворчого мистецтва і архітектури. Працює книжковим ілюстратором, серед відомих робіт: «Миші в сирі» (Laurus, 2013), «Лісова пісня» Леся Українка («Основи», 2014), що потрапила в міжнародний каталог найкращих дитячих книжок White Ravens в 2014 році, «Маєчка» (Nebo Booklab Publishing, 2015), «Байки Федра» («Основи», 2016), «Перше мереживо Стефанії» (NBP, 2016), «Soldier» разом з ілюстратором Владою Сошкіною («Little Wooden Flute», USA, 2016). Живе та працює в Києві.
                      </p>
                    </div>
                  </div>
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Jenia-Polosina.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Женя Полосіна</div>
                      <p class="paragraf">
                          Ілюстраторка, принтмейкерка, дизайнерка. Працює в різних техніках естампу та графіки. Також, разом з Анною Іваненко створила студію «Сері/граф», де організовує події, пов’язані з друкованою графікою. Зокрема, в квітні 2016 року студії «Сері/граф» і «Копія#0» організували перший київський фестиваль друку «Принтфест 1/100». Брала участь у фестивалі «Wschód Kultury» в Любліні в 2013 році, фестивалі «Бумфест» в Санкт-Петербурзі в 2014 та 2015 роках. Живе та працює в Києві.
                      </p>
                    </div>
                  </div>
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Anna-Ivanenko.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Анна Іваненко</div>
                      <p class="paragraf">
                          Ілюстраторка, принтмейкерка, дизайнерка. Викладає в школі «Projector» на курсі ілюстрації. Разом з Полосіною Женьою керує артстудією шовкотрафаретного друку «Сері/граф», регулярно організовує освітні події, пов’язані з просвітництвом на тему естампу. В квітні 2016 року студії «Сері/граф» і «Копія№0» організували перший київський фестиваль друку «Принтфест 1/100». Брала участь у багатьох виставках та фестивалях в Києві, Москві, Санкт-Петербурзі і Любліні.
                      </p>
                    </div>
                  </div>
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Olena-Staranchuk.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Олена Старанчук</div>
                      <p class="paragraf">
                          Графічна дизайнерка, працює з культурними, освітніми та соціальними проектами. Займається дизайн-оформленням різноманітних культурних всеукраїнських та міжнародних заходів, фестивалей, конференцій, форумів та ін. Співзасновниця клубу ілюстраторів Pictoric, член Асоціації дизайн-графіків «4-блок», у 2013 році отримала стипендію Gaude Polonia.
                      </p>
                    </div>
                  </div>
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Valerij-Tykhoniuk.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Валерій Тихонюкk</div>
                      <p class="paragraf">
                          Художник, книжковий графік, викладач кафедри графічного дизайну Київського державного інституту декоративно-прикладного мистецтва і дизайну ім. М. Бойчука. Закінчив Національну академію образотворчого мистецтва (майстерня книжкової графіки Василя Чебаника). Займається художнім конструюванням книги, каліграфією та ілюстрацією. Досліджує мистецтво писемної графіки.  Живе й працює в Києві.
                      </p>
                    </div>
                  </div>
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Julia-Tveritina.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Юлія Тверітіна</div>
                      <p class="paragraf">
                          Художниця, ілюстраторка. Закінчила асистентуру в майстерні книжкової графіки Національної академії образотворчого мистецтва і архітектури в Києві. Співпрацює з галереями та видавництвами в Китаї, Південній Кореї та Японії. Отримала грант Президента України для молодих діячів мистецтва. Є активною учасницею клубу ілюстраторів Pictoric. Живе та працює у Суджоу, Китай.
                      </p>
                    </div>
                  </div>
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Anna-Sarvira.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Анна Сарвіра</div>
                      <p class="paragraf">
                          Художниця, ілюстраторка. Отримала художню освіту в Національній академії образотворчого мистецтва і архітектури, тепер працює за спеціальністю. В 2013 отримала польську міжнародну стипендію Gaude Polonia. Співзасновниця клубу ілюстраторів Pictoric. Учасниця міжнародної виставки ілюстрації Bologna children’s book fair (2017). Живе й працює в Києві.
                      </p>
                    </div>
                  </div>
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Illia-Ugnivenko.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Ілля Угнівенко</div>
                      <p class="paragraf">
                          Художник та ілюстратор. Отримав кваліфікацію магістра на кафедрі книжкової графіки в Національній Академії образотворчого мистецтва та архітектури в Києві. Брав участь у виставках та фестивалях з мистецтва Per-art International art festival «Black Sea Space Poetry» (Румунія), Книжковий Арсенал» (Україна), «Children’s illustration» (Грузія), Kyiv Comic Con (Україна). Є активним учасником клубу ілюстраторів Pictoric. Живе та працює в Києві.
                      </p>
                    </div>
                  </div>
                  <div class="team-item">
                    <div class="image">
                      <img src="img/photo/Olena-Tykhoniuk.jpg" alt="img">
                    </div>
                    <div class="text">
                      <div class="name">Олена Тихонюк</div>
                      <p class="paragraf">
                          Художниця. Закінчила майстерню книжкової графіки при Національній художній академії. Займається оформленням книги, плакатом, витинанкою. Викладає на кафедрі графічного дизайну Національної академії образотворчого мистецтва і архітектури. Живе та працює в Києві.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
              <div class="scrollbar">
                <div class="handle">
                  <div class="mousearea"></div>
                </div>
              </div>
              <div class="controls right">
                <button class="btn prev">
                  <svg class="icon icon-arrow-r">
                    <use xlink:href="img/sprite.svg#arrow-r"></use>
                  </svg>
                </button>
                <button class="btn next">
                  <svg class="icon icon-arrow-r">
                    <use xlink:href="img/sprite.svg#arrow-r"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-4" id="section-4">
        <div class="bg-item">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="img-wrap">
                <img src="img/img-3.png" alt="img">
              </div>
            </div>
            <div class="col-md-6">
              <h2 class="tithe-h2">Правила Гри</h2>
              <h3 class="tithe-h3">Ти в грі -  ти в діалозі
              </h3>
              <div class="center-btn"><a class="el-btn" href="#box-buy">Замовити гру</a></div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-5" id="section-5">
        <div class="bg-item">
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="tithe-h2">Відгуки</h2>
            </div>
            <div class="col-md-12 clearfix">
              <div class="frame crazy" id="crazy">
                <div class="clearfix">
                  <div class="review-item mod-all">
                    <div class="num-all">
                      4.00
                    </div>
                    <ul class="stars">
                      <li class="active">
                        <svg class="icon icon-star">
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </li>
                      <li class="active">
                        <svg class="icon icon-star">
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </li>
                      <li class="active">
                        <svg class="icon icon-star">
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </li>
                      <li class="active">
                        <svg class="icon icon-star">
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </li>
                      <li>
                        <svg class="icon icon-star">
                          <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                      </li>
                    </ul>
                    <div class="num">(216 Reviews)</div>

                  </div>
                  <div class="review-item">
                    <div class="date">20 dec 2018</div>
                    <div class="text">
                      <div class="name">Олена Старанчук</div>
                      <div class="review-num">
                        <ul class="stars">
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li>
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                        </ul>
                        <div class="num">4.00</div>
                      </div>
                      <p class="paragraf">
                        The history of art focuses on objects made by humans in visual form for aesthetic purposes.
                      </p>
                    </div>
                  </div>
                  <div class="review-item">
                    <div class="date">20 dec 2018</div>
                    <div class="text">
                      <div class="name">Олена Старанчук</div>
                      <div class="review-num">
                        <ul class="stars">
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li>
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                        </ul>
                        <div class="num">4.00</div>
                      </div>
                      <p class="paragraf">
                        The history of art focuses on objects made by humans in visual form for aesthetic purposes.
                      </p>
                    </div>
                  </div>
                  <div class="review-item">
                    <div class="date">20 dec 2018</div>
                    <div class="text">
                      <div class="name">Олена Старанчук</div>
                      <div class="review-num">
                        <ul class="stars">
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li>
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                        </ul>
                        <div class="num">4.00</div>
                      </div>
                      <p class="paragraf">
                        The history of art focuses on objects made by humans in visual form for aesthetic purposes.
                      </p>
                    </div>
                  </div>
                  <div class="review-item">
                    <div class="date">20 dec 2018</div>
                    <div class="text">
                      <div class="name">Олена Старанчук</div>
                      <div class="review-num">
                        <ul class="stars">
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li>
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                        </ul>
                        <div class="num">4.00</div>
                      </div>
                      <p class="paragraf">
                        The history of art focuses on objects made by humans in visual form for aesthetic purposes.
                      </p>
                    </div>
                  </div>
                  <div class="review-item">
                    <div class="date">20 dec 2018</div>
                    <div class="text">
                      <div class="name">Олена Старанчук</div>
                      <div class="review-num">
                        <ul class="stars">
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li>
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                        </ul>
                        <div class="num">4.00</div>
                      </div>
                      <p class="paragraf">
                        The history of art focuses on objects made by humans in visual form for aesthetic purposes.
                      </p>
                    </div>
                  </div>
                  <div class="review-item">
                    <div class="date">20 dec 2018</div>
                    <div class="text">
                      <div class="name">Олена Старанчук</div>
                      <div class="review-num">
                        <ul class="stars">
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li>
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                        </ul>
                        <div class="num">4.00</div>
                      </div>
                      <p class="paragraf">
                        The history of art focuses on objects made by humans in visual form for aesthetic purposes.
                      </p>
                    </div>
                  </div>
                  <div class="review-item">
                    <div class="date">20 dec 2018</div>
                    <div class="text">
                      <div class="name">Олена Старанчук</div>
                      <div class="review-num">
                        <ul class="stars">
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li>
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                        </ul>
                        <div class="num">4.00</div>
                      </div>
                      <p class="paragraf">
                        The history of art focuses on objects made by humans in visual form for aesthetic purposes.
                      </p>
                    </div>
                  </div>
                  <div class="review-item">
                    <div class="date">20 dec 2018</div>
                    <div class="text">
                      <div class="name">Олена Старанчук</div>
                      <div class="review-num">
                        <ul class="stars">
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li class="active">
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                          <li>
                            <svg class="icon icon-star">
                              <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                          </li>
                        </ul>
                        <div class="num">4.00</div>
                      </div>
                      <p class="paragraf">
                        The history of art focuses on objects made by humans in visual form for aesthetic purposes.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="scrollbar">
                <div class="handle">
                  <div class="mousearea"></div>
                </div>
              </div>
              <div class="controls right">
                <button class="btn prev js-prev-crazy">
                  <svg class="icon icon-arrow-r">
                    <use xlink:href="img/sprite.svg#arrow-r"></use>
                  </svg>
                </button>
                <button class="btn next js-next-crazy">
                  <svg class="icon icon-arrow-r">
                    <use xlink:href="img/sprite.svg#arrow-r"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <a class="el-btn" style="margin-top: 0" href="#feedback">Залишити Відгук</a>
            </div>
          </div>
        </div>
      </section>

      <section class="section-6" id="section-6">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="tithe-h2">Галерея</h2>
              <h3 class="tithe-h3">Мистецтво – вираження найглибших думок найпростішим способом.
              </h3>
            </div>
            <div class="col-md-12 clearfix">
              <div class="frame gallery" id="gallery">
                <div class="clearfix">
                  <div class="gallery-item">
                    <div class="image">
                      <img src="img/gallery/Anna-Andreeva/1.jpg" alt="img">
                    </div>
                    <div class="user-wrap">
                      <div class="image-pic">
                        <img src="img/photo/Anna-Andreeva.jpg" alt="">
                      </div>
                      <div class="name">Анна Андреєва</div>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="image">
                      <img src="img/gallery/Anna-Ivanenko/1.jpg" alt="img">
                    </div>
                    <div class="user-wrap">
                      <div class="image-pic">
                        <img src="img/photo/Anna-Ivanenko.jpg" alt="">
                      </div>
                      <div class="name">Анна Іваненко</div>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="image">
                      <img src="img/gallery/Anna-Sarvira/1.jpg" alt="img">
                    </div>
                    <div class="user-wrap">
                      <div class="image-pic">
                        <img src="img/photo/Anna-Sarvira.jpg" alt="">
                      </div>
                      <div class="name">Анна Сарвіра</div>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="image">
                      <img src="img/gallery/Illia-Ugnivenko/1.jpg" alt="img">
                    </div>
                    <div class="user-wrap">
                      <div class="image-pic">
                        <img src="img/photo/Illia-Ugnivenko.jpg" alt="">
                      </div>
                      <div class="name">Ілля Угнівенко</div>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="image">
                      <img src="img/gallery/Jenia-Polosina/1.jpg" alt="img">
                    </div>
                    <div class="user-wrap">
                      <div class="image-pic">
                        <img src="img/photo/Jenia-Polosina.jpg" alt="">
                      </div>
                      <div class="name">Женя Полосіна</div>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="image">
                      <img src="img/gallery/Julia-Tveritina/1.jpg" alt="img">
                    </div>
                    <div class="user-wrap">
                      <div class="image-pic">
                        <img src="img/photo/Julia-Tveritina.jpg" alt="">
                      </div>
                      <div class="name">Юлія Тверітіна</div>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="image">
                      <img src="img/gallery/Oleh-Gryshchenko/1.jpg" alt="img">
                    </div>
                    <div class="user-wrap">
                      <div class="image-pic">
                        <img src="img/photo/Oleh-Gryshchenko.jpg" alt="">
                      </div>
                      <div class="name">Олег Грищенко </div>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="image">
                      <img src="img/gallery/Olena-Staranchuk/1.jpg" alt="img">
                    </div>
                    <div class="user-wrap">
                      <div class="image-pic">
                        <img src="img/photo/Olena-Staranchuk.jpg" alt="">
                      </div>
                      <div class="name">Олена Старанчук</div>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="image">
                      <img src="img/gallery/Olena-Tykhoniuk/1.jpg" alt="img">
                    </div>
                    <div class="user-wrap">
                      <div class="image-pic">
                        <img src="img/photo/Olena-Tykhoniuk.jpg" alt="">
                      </div>
                      <div class="name">Олена Тихонюк</div>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="image">
                      <img src="img/gallery/Polina-Doroshenko/1.jpg" alt="img">
                    </div>
                    <div class="user-wrap">
                      <div class="image-pic">
                        <img src="img/photo/Polina-Doroshenko.jpg" alt="">
                      </div>
                      <div class="name">Поліна Дорошенко</div>
                    </div>
                  </div>
                  <div class="gallery-item">
                    <div class="image">
                      <img src="img/gallery/Tanya-Denysenko/1.jpg" alt="img">
                    </div>
                    <div class="user-wrap">
                      <div class="image-pic">
                        <img src="img/photo/Tanya-Denysenko.jpg" alt="">
                      </div>
                      <div class="name">Тетяна Денисенко</div>
                    </div>
                  </div>


                  <div class="gallery-item">
                      <div class="image">
                        <img src="img/gallery/Anna-Andreeva/2.jpg" alt="img">
                      </div>
                      <div class="user-wrap">
                        <div class="image-pic">
                          <img src="img/photo/Anna-Andreeva.jpg" alt="">
                        </div>
                        <div class="name">Анна Андреєва</div>
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="image">
                        <img src="img/gallery/Anna-Ivanenko/2.jpg" alt="img">
                      </div>
                      <div class="user-wrap">
                        <div class="image-pic">
                          <img src="img/photo/Anna-Ivanenko.jpg" alt="">
                        </div>
                        <div class="name">Анна Іваненко</div>
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="image">
                        <img src="img/gallery/Anna-Sarvira/2.jpg" alt="img">
                      </div>
                      <div class="user-wrap">
                        <div class="image-pic">
                          <img src="img/photo/Anna-Sarvira.jpg" alt="">
                        </div>
                        <div class="name">Анна Сарвіра</div>
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="image">
                        <img src="img/gallery/Illia-Ugnivenko/2.jpg" alt="img">
                      </div>
                      <div class="user-wrap">
                        <div class="image-pic">
                          <img src="img/photo/Illia-Ugnivenko.jpg" alt="">
                        </div>
                        <div class="name">Ілля Угнівенко</div>
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="image">
                        <img src="img/gallery/Jenia-Polosina/2.jpg" alt="img">
                      </div>
                      <div class="user-wrap">
                        <div class="image-pic">
                          <img src="img/photo/Jenia-Polosina.jpg" alt="">
                        </div>
                        <div class="name">Женя Полосіна</div>
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="image">
                        <img src="img/gallery/Julia-Tveritina/2.jpg" alt="img">
                      </div>
                      <div class="user-wrap">
                        <div class="image-pic">
                          <img src="img/photo/Julia-Tveritina.jpg" alt="">
                        </div>
                        <div class="name">Юлія Тверітіна</div>
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="image">
                        <img src="img/gallery/Oleh-Gryshchenko/2.jpg" alt="img">
                      </div>
                      <div class="user-wrap">
                        <div class="image-pic">
                          <img src="img/photo/Oleh-Gryshchenko.jpg" alt="">
                        </div>
                        <div class="name">Олег Грищенко </div>
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="image">
                        <img src="img/gallery/Olena-Staranchuk/2.jpg" alt="img">
                      </div>
                      <div class="user-wrap">
                        <div class="image-pic">
                          <img src="img/photo/Olena-Staranchuk.jpg" alt="">
                        </div>
                        <div class="name">Олена Старанчук</div>
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="image">
                        <img src="img/gallery/Olena-Tykhoniuk/2.jpg" alt="img">
                      </div>
                      <div class="user-wrap">
                        <div class="image-pic">
                          <img src="img/photo/Olena-Tykhoniuk.jpg" alt="">
                        </div>
                        <div class="name">Олена Тихонюк</div>
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="image">
                        <img src="img/gallery/Polina-Doroshenko/2.jpg" alt="img">
                      </div>
                      <div class="user-wrap">
                        <div class="image-pic">
                          <img src="img/photo/Polina-Doroshenko.jpg" alt="">
                        </div>
                        <div class="name">Поліна Дорошенко</div>
                      </div>
                    </div>
                    <div class="gallery-item">
                      <div class="image">
                        <img src="img/gallery/Tanya-Denysenko/2.jpg" alt="img">
                      </div>
                      <div class="user-wrap">
                        <div class="image-pic">
                          <img src="img/photo/Tanya-Denysenko.jpg" alt="">
                        </div>
                        <div class="name">Тетяна Денисенко</div>
                      </div>
                    </div>

                </div>
              </div>
              <div class="scrollbar">
                <div class="handle">
                  <div class="mousearea"></div>
                </div>
              </div>
              <div class="controls right">
                <button class="btn prev js-prev-gallery">
                  <svg class="icon icon-arrow-r">
                    <use xlink:href="img/sprite.svg#arrow-r"></use>
                  </svg>
                </button>
                <button class="btn next js-next-gallery">
                  <svg class="icon icon-arrow-r">
                    <use xlink:href="img/sprite.svg#arrow-r"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <include src="../chunks/footer.html"></include>
    <include src="../chunks/modal.html"></include>
  </div>
  <include src="../chunks/scripts.html"></include>
</body>

</html>