<footer id="footer" class="wrapper footer">
    <div class="bg-item">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <p class="paragraf">
                    <b>Контакти:</b>
                </p>
                <ul class="contact-list">
                    <li>
                        <a href="tel:+380987675543">
                            <svg class="icon icon-tel">
                                <use xlink:href="img/sprite.svg#tel"></use>
                            </svg>
                            <span>+38 0 98 76 75 543</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:pictoricbox@gmail.com">
                            <svg class="icon icon-mail">
                                <use xlink:href="img/sprite.svg#mail"></use>
                            </svg>
                            <span>pictoricbox@gmail.com</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <p class="paragraf">
                    <b>Ми соц. мережах:</b>
                </p>
                <ul class="social-links">
                    <li>
                        <a class="inst" href="#">
                            <svg class="icon icon-insta">
                                <use xlink:href="img/sprite.svg#insta"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="fb" href="#">
                            <svg class="icon icon-fb">
                                <use xlink:href="img/sprite.svg#fb"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-5 text-right">
                <p class="copyright">
                    Copyright © 2018 Всі права захищені
                </p>
            </div>
        </div>
    </div>
</footer>