<header id="header" class="wrapper header headroom">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-4">
                <a class="logo" href="/">
                    <img src="img/logo.svg" alt="">
                </a>
            </div>
            <div class="col-sm-10 col-xs-8 text-right">
                <nav>
                    <ul>
                        <li>
                            <a class="scrollLink" href="#section-1">
                                Головна
                            </a>
                        </li>
                        <li>
                            <a class="scrollLink" href="#section-2">
                                Історія
                            </a>
                        </li>
                        <li>
                            <a class="scrollLink" href="#section-3">
                                Виконавча команда
                            </a>
                        </li>
                        <li>
                            <a class="scrollLink" href="#section-4">
                                Правила
                            </a>
                        </li>
                        <li>
                            <a class="scrollLink" href="#section-5">
                                Відгуки
                            </a>
                        </li>
                        <li>
                            <a class="scrollLink" href="#section-6">
                                Галерея
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="lang">
                    <li class="is-active"><a href="#">UKR</a></li>
                    <li ><a href="#">ENG</a></li>
                </ul>
                <a class="el-btn" href="#box-buy">Замовити</a>
            </div>
        </div>
    </div>
</header>