<div class="remodal box-buy" data-remodal-id="box-buy">
    <button data-remodal-action="close" class="remodal-close">
        <svg class="icon icon-close">
            <use xlink:href="img/sprite.svg#close"></use>
        </svg>
    </button>
    <h2>Передзамовлення доступне вже зараз!</h2>
    <p>
        Будь першим, хто отримає гру навесні 2019 року усього за 899 грн.
    </p>
    <form name="box-buy" action="#" class="js-validate box-buy">
        <label class="el-text-fel">
            <span>Ім'я *</span>
            <input type="text" name="name" data-valid="name" placeholder="Введіть Ім'я">
        </label>
        <label class="el-text-fel">
            <span>E-mail</span>
            <input type="text" name="email" data-valid="email" placeholder="Введіть E-mail">
        </label>
        <label class="el-text-fel">
            <span>Телефон *</span>
            <input type="text" name="phone" class="phone" data-valid="phone" placeholder="Введіть Телефон *">
        </label>
        <button class="el-btn">Замовити</button>
    </form>

</div>

<div class="remodal thanks" data-remodal-id="thanks">
    <button data-remodal-action="close" class="remodal-close">
        <svg class="icon icon-close">
            <use xlink:href="img/sprite.svg#close"></use>
        </svg>
    </button>
    <h2>Раді, що гра буде твоєю!</h2>
    <p>
        В подарунок ми відправимо одну з ілюстрацій гри, з підписом автора.
        PictoricBox амбасадор обов’язково зв’яжеться, коли тубус буде готовий для зустрічі з тобою!
    </p>
    <button data-remodal-action="confirm" class="el-btn">OK</button>
</div>

<div class="remodal feedback" data-remodal-id="feedback">
    <button data-remodal-action="close" class="remodal-close">
        <svg class="icon icon-close">
            <use xlink:href="img/sprite.svg#close"></use>
        </svg>
    </button>
    <h2>Залишити відгук</h2>



    <form name="feedback" action="#" class="js-validate feedback">
        <div class="rating-wrap">
            <span>Rate:</span>
            <div class="rating-control">
                <input type="radio" name="rating" value="5" id="id_rating_0" required="">
                <label for="id_rating_0">5</label>
                <input type="radio" name="rating" value="4" id="id_rating_1" required="">
                <label for="id_rating_1">4</label>
                <input type="radio" name="rating" value="3" id="id_rating_2" required="" checked="">
                <label for="id_rating_2">3</label>
                <input type="radio" name="rating" value="2" id="id_rating_3" required="">
                <label for="id_rating_3">2</label>
                <input type="radio" name="rating" value="1" id="id_rating_4" required="">
                <label for="id_rating_4">1</label>
            </div>
        </div>
        <div class="group-input">
            <label class="el-text-fel">
                <span>Ім'я *</span>
                <input type="text" name="name" data-valid="name" placeholder="Введіть Ім'я">
            </label>
            <label class="el-text-fel">
                <span>E-mail</span>
                <input type="text" name="email" data-valid="email" placeholder="Введіть E-mail">
            </label>
        </div>

        <label class="el-text-fel">
            <span>Повідомлення *</span>
            <textarea maxlength="95" name="message" class="message" data-valid="message" placeholder="Введіть відгук *"></textarea>
        </label>
        <button class="el-btn">Залишити</button>
    </form>

</div>